/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background: #c8e8e9;

  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: #1E3A8A;
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 70px;
  list-style: none;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #d3d3d3;
  font-size: 1.1rem;
  transition: 1s;
}

nav a:hover {
  background-color: #005f9e;
  color: #fff;
}

nav ul img {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  margin-right: auto;
  margin-left: 30px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 -10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


.sidebar li {
  width: 100%;
  margin: 3px;
}

.sidebar li a {
  width: 75%;
  color: black;
}

.menuButton {
  display: none;

}

footer{
  background-color: #1E3A8A;
  border: none;
  color: #d3d3d3;
  padding: 0.7rem;
  margin: 1rem 0 0  0;
  text-align: center;
}

@media (max-width : 1100px) {
  .hideOnMobile {
    display: none;
  }
  /* .topic-text{
    margin-top: 1rem;
  } */
  .menuButton {
    display: block;
  }

  .bgImage {
    opacity: 0.5;
  }

  .mainText {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

}

@media (max-width : 1000px) {
  .topic-text{
    margin-top: 1rem;
  }

  .right-side{
    margin-right: 12rem;
  }

  /* .left-side{
    margin-right: 11rem;
  } */
 
}


@media (max-width : 700px) {
 
    .right-side{
      margin-right: 18rem;
      width: 10%;
    }

   
    .left-side{
      margin-right: 13rem;
    }
  /* .content .left-side .details .topic{
    font-size: 0.1rem;
  }
  .content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 0.3rem;
} */

/* .left-side{
  display: flex;
  flex-direction: column;
} */
}

@media (max-width : 500px) {
  .right-side > div{
    margin-left: 5rem;
  }

  .right-side{
    margin-right: 27rem;
  }

  .left-side{
    margin-right: 18rem;
  }
}
@media (max-width : 450px) {
  .sidebar {
    transition: transform 0.4s ease-in;
    width: 100%;
  }

  
}


.container {
  width: 85%;
  height: 100vh;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45rem;
}

.container .content .left-side {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  position: relative;
}

.content .left-side::before {
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.content .left-side .details {
  margin: 14px;
  text-align: center;
}

.content .left-side .details i {
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}

.content .left-side .details .topic {
  font-size: 1.125rem;
  font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 0.7rem;
  color: #afafb6;
}


.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
  margin-bottom: 2rem;
}

@media (max-width: 950px) {
  .container {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }

  .container .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}

@media (max-width: 820px) {
  .container {
    margin: 40px 0;
    height: 100%;
  }

  .container .content {
    flex-direction: column-reverse;
  }

  .container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .container .content .left-side::before {
    display: none;
  }
}

@media (max-width : 600px) {
  .container .content .left-side {
    width: 20%;
    height: 30%;
    margin-left: -6rem;
    /* display: flex; */
    /* flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    position: relative; */
  }
}